@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,700&display=swap");

* {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.8px;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: fixed;
  background-color: white;
  top: 20vh;
  z-index: 100;
  height: 40px;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(145, 140, 100, 0.3);
}
ul {
  display: flex;
}
header {
  width: 100%;
  min-height: 20vh;
  position: fixed;
  top: 0px;
  background-color: rgb(42, 80, 80);
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1000;
}
.menu-header {
  text-align: start !important;
}
.sub-header {
  font-style: italic;
  padding: 6px;
}
body {
  position: relative;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
  padding: 3px;
}
a {
  color: inherit;
  text-decoration: none;
  padding: 10px 20px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 400;
  border-right: 1px solid white;
}
li {
  color: darkslategrey;
  list-style-type: none;
}
li a:hover {
  background-color: rgb(124, 168, 168);
  color: white;
}
.items-wrapper {
  display: flex;
  width: 60%;
  flex-direction: column;
}
.items-wrapper h3 {
  height: 20px;
  background-color: rgb(58, 100, 100);
  color: rgba(255, 255, 255, 0.856);
  margin: 54px 30px -30px 30px;
  padding-left: 14px;
  box-shadow: 1px 1px 4px 1px rgb(173, 164, 164);
  display: flex;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.301);
  transition: all;
  /* justify-content: center; */
}

.menu-item {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, 0.001);
  margin: 30px;
  padding: 2em 0.8em;
  background-color: white;
  box-shadow: 1px 1px 4px 1px rgb(173, 164, 164);
}
.two {
  display: flex;
  padding: 10px 1em;
  justify-content: space-between;
  flex-direction: column;
}
.one {
  display: flex;
}
.one img {
  width: 150px;
  height: 130px;
  object-fit: cover;
  margin-right: 15px;
}
.cart {
  border: 1px solid rgb(42, 80, 80);
  text-align: center;
  padding: 0.1em 0.6em;
  color: rgb(42, 80, 80);
  position: relative;
}
.tooltip {
  display: none;
  position: absolute;
  top: -25px;
  left: -30px;
  font-weight: normal !important;
  font-size: 0.3em !important;
  border: none !important;
  width: 100px;
}
.cart:hover {
  color: solid rgb(42, 80, 80);
  font-weight: bold;
  cursor: pointer;
}
/* .cart:hover .tooltip {
  display: block;
} */
.price,
.desc h4 {
  color: rgb(41, 53, 53);
  font-size: 0.97em;
}
.one h4 {
  font-weight: normal;
  text-transform: capitalize;
}
.desc {
  padding: 10px 0em;
}
.desc span,
.desc p {
  opacity: 0.98;
  color: gray;
  font-size: 0.74em;
  margin-right: 9px;
}
.menu-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 23vh;
  width: 100%;
}
button {
  cursor: pointer;
  padding: 0.4em 1.4em;
  margin-top: 5px;
  background-color: transparent;
  border-radius: 10px;
  color: black;
  border: 1px solid rgba(23, 80, 33, 0.767);
  box-sizing: border-box;
}
button:hover {
  cursor: pointer;
  border-color: white;
}
::-webkit-scrollbar {
  display: none;
}
.cart-notifs {
  display: none;
  position: fixed;
  width: 274px;
  height: 32px;
  top: 4.7rem;
  letter-spacing: 2px;
  left: 50%;
  margin-left: -139px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: white;
  padding: 0.1em;
  color: green;
}
.cart-notifs:hover {
  cursor: pointer;
}
.cart-list {
  display: none;
  padding: 0.2em;
  width: 29px;
  height: 20px;
  font-size: 1.4em;
  background-color: rgb(42, 80, 80);
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 2rem;
  right: 10%;
  z-index: 1000;
}
.cart-list:hover {
  cursor: pointer;
}
.cart-details {
  display: flex;
  margin: 30px 0px 0px 0px;
  box-shadow: 1px 1px 4px 1px rgb(173, 164, 164);
  padding: 1.8em;
  color: rgb(42, 80, 80);
  background-color: white;
  border-radius: 10px;
  width: 650px;
  height: 140px;
  font-size: 0.55em;
}
.cart-details p {
  font-size: 1.8em;
}
.cart-details img {
  margin-right: 20px;
}
.cc {
  position: absolute;
  top: 0vh;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
  display: none;
  /* margin-top: 5em; */
  flex-direction: column;
  align-items: center;
  padding: 1.2em;
  font-size: 0.87em;
  background-color: white;
  color: rgb(42, 80, 80);
}
.cart-details img {
  margin-right: 10px;
  width: 100px;
  height: 130px;
}
.orderbtn {
  margin-top: 2em;
  color: black;
  width: 300px;
  padding: 0.8em 2em;
  font-size: 1.2em;
  transition: background-color 2s;
}
.orderbtn:hover {
  background-color: black;
  color: white;
}
@media screen and (max-width: 750px) {
  .items-wrapper {
    min-width: 80%;
    letter-spacing: 0.94px;
  }
  .menu-container {
    top: 25vh;
  }

  header {
    font-size: 0.85em;
    min-height: 20vh;
  }
  nav {
    padding: 8px 20px;
    overflow-x: scroll;
    height: 24px !important;
    overflow-y: hidden;
    height: 10vh;
    margin: 0 auto;
    top: 20vh;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .sub-header {
    font-style: normal;
    letter-spacing: 0px;
    padding: 7px;
    font: 1em sans-serif;
  }
  li a {
    padding: 0px 10px 0px 10px;
    margin-right: 0.6em;
  }
  .first {
    margin-left: 4em;
  }

  .one img {
    width: 100%;
    height: 190px;
  }

  .menu-item {
    flex-direction: column;
    letter-spacing: 0px;
    padding: 0px;
    margin: 30px 0px;
    border-radius: 0px;
    padding: 0.8em;
  }
  .one {
    display: block;
  }
  .two {
    flex-direction: row;
    padding: 15px 3px;
  }
  .cart-notifs {
    top: 4.5rem;
    height: 20px;
  }
  .items-wrapper h3 {
    background-color: rgb(42, 80, 80);
    margin: 40px 0px -30px 0px;
    text-align: center;
    height: 24px;
    font-weight: 400;
    letter-spacing: 1.8px;
    color: white;
    box-shadow: 1px 1px 4px 2px rgb(252, 252, 252);
    justify-content: center;
  }
  .cart-list {
    position: fixed;
    bottom: 1.1rem;
    left: 50%;
    height: 20px;
    margin-left: -15px;
    z-index: 500;
  }
  .cart-details {
    display: flex;
    margin: 30px 0px 0px 0px;
    box-shadow: 1px 1px 4px 1px rgb(173, 164, 164);
    padding: 1.8em;
    color: rgb(42, 80, 80);
    background-color: white;
    border-radius: 10px;
    width: 290px;
    height: 100px;
    font-size: 0.55em;
  }
  .cart-details p {
    font-size: 1.4em;
  }
  .cart-details h1 {
    font-size: 1.8em;
  }
  .cart-details img {
    margin-right: 10px;
    width: 120px;
    height: 100px;
  }
  .cc {
    position: absolute;
    top: 0vh;
    left: 50%;
    width: 95vw;
    /* margin: 0 auto; */
    margin-left: -50vw;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 1.2em;
    font-size: 0.87em;
    background-color: white;
    color: rgb(42, 80, 80);
  }
  .cart-details .img {
    margin-right: 10px;
  }
  .orderbtn {
    margin-top: 2em;
    color: black;
    width: 250px;
    padding: 0.4em 1.8em;
    font-size: 1.2em;
    transition: background-color 2s;
  }
  .orderbtn:hover {
    background-color: black;
    color: white;
  }
}
